.button {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.containerButton {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
