.ProfileCard {
    padding: 20px;
    border: 1px solid var(--inverted-bg-color);
}

.header {
    display: flex;
}

.editBtn {
    margin-left: auto;
}

.content {
    margin-top: 30px;
}

.input {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 1px solid var(--inverted-primary-color);
}
