* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: burlywood;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1400px;
    font-size: 48px;
    padding: 20px;
}
